@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

:root {
  --mainBlue:rgb(89, 210, 247);
  --mainTransition: rgb(174, 231, 248);
  --mainWhite: #fff;
  --mainBlack: #000;
  --mainGrey: rgb(155, 154, 154);
}
body {
  font-family: "Kaushan Script", cursive;
  background: var(--mainBlack);
  color: var(--mainWhite);
}
i{
  color: var(--mainBlue);
}
/* nav links */
.logo{
  width: 100%;
  height: 8vh;
}
@media screen and (max-width: 950px){
 #myNav ul li{
  margin: auto;
 }
 .navbar-brand{
   width:100%;
   margin:0;
   border-bottom: solid 0.2rem var(--mainBlue);
 }

 .navbar-nav{
   flex-direction: row;
 }
}

.nav-link {
  color: var(--mainBlue);
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
  padding-bottom: 0;
}
.nav-link:after {
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  color: var(--mainTransition);
    transition: width 1s ease;
}
.nav-link:hover:after {
  width: 100%;
  background: var(--mainBlue);
}

a:hover{
  color:var(--mainTransition);
}

.navbar i{
  color: var(--mainBlue);
}

/* end of nav links */
/* info icons */
.cart-info__icon {
  color: var(--mainBlue);
  cursor: pointer;
}

.cart-info {
  border: 0.1rem solid var(--mainBlack);
  color: var(--mainBlack);
  border-radius: 0.25rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}
.cart-info:hover {
  border-color: var(--mainBlue);
  border-radius: 20px;
  color: var(--mainBlue);
}
.cart-info:hover .cart-info__icon {
  color: var(--mainWhite);
}
/* end of info icons */
/* banner */

.max-height {
  min-height: calc(100vh - 76px);
  background: url("../Images/background.jpg") center/cover fixed no-repeat;
  position: relative;
}
.banner {
  color: var(--mainWhite);
  margin-top: -4rem;
}
.banner-title {
  color: var(--mainBlue);
  font-size: 5rem;
  margin-left:0.4rem;
  text-shadow: 5px 0.5rem grey;
}
h1{
  font-size: 4rem;
}
.banner-link {
  font-size: 1.5rem;
  color: var(--mainBlue);
  border: 0.2rem solid var(--mainBlack);
  border-radius: 1.5rem;
  transition: all 0.4s ease;
}
.banner-link:hover {
  background: var(--mainBlack);
  color: var(--mainTransition);
  border-radius: 2rem;
}
/* endo of banner */
/* cart  */
.cart {
  position: absolute;
  min-height: 10rem;
  top: 0;
  right: 0;
  transition: all 1s ease-in-out;
  background: rgba(29, 28, 28, 0.5);
  width: 0;
  overflow: hidden;
  opacity: 0;
}
@keyframes show-cart {
  /* You could think of as "step 1" */
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0.5;
  }
  /* You could think of as "step 2" */
  100% {
    opacity: 1;
  }
}
.show-cart {
  width: 18rem;
  padding: 2rem 1.5rem;
  animation: show-cart 1s;
  animation-fill-mode: forwards;
  border-bottom: 0.25rem solid var(--mainBlue);
  border-left: 0.14rem solid var(--mainBlue);
}
.cart-item {
  transition: all 2s ease-in-out;
}

/* end of cart */
/* cart item */
.cart-item-remove {
  color: var(--mainPink);
  transition: all 1s ease-in-out;
}
.cart-item-remove:hover {
  transform: scale(1.1);
  color: var(--mainBlack);
}
#cart-item-price {
  font-size: 0.8rem;
}
/* cart item */
/* cart buttons */

.btn-cart{
  color:rgba(250, 56, 56) !important;
  border-color: var(--mainBlack) !important;
  border-radius: 1.5rem;
}
.cart-buttons-container{
  width:17rem;
  margin: 0;
  padding: 0;
  transform: translateX(-1rem);
}

.btn-cart i {
  color:  rgba(250, 56, 56, 0.705);
  padding: 0.2rem;
  font-size: 1.2rem;
  transition: all 0.8s ease-in-out;
}
.btn-cart:hover i{
  color: rgb(255, 60, 0);
  font-size: 1.3rem;
}

.btn-black {
  color: var(--mainBlack) !important;
  border-color: var(--mainBlack) !important;
  border-radius: 1.5rem;
  width: 6.5rem;
}
.btn-black:hover {
  color: var(--mainBlue) !important;
  background:rgba(255, 255, 255, 0.199);
}
.btn-pink:hover {
  background: var(--mainPink) !important;
  color: var(--mainBlack) !important;
}
#item-img{
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}
/* end of cart buttons */

/* about */
.about-img__container {
  position: relative;
}

/*end of  about */

/* store items */
.store {
  background: var(--mainGrey);
}
.img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.card{
  border:solid 3px var(--mainBlue);
  color: var(--mainBlack);
  background: rgba(250, 246, 246, 0.315);
}
.store-img {
  height: 10rem;
  transition: all 1s ease-in-out;
}
.img-container:hover .store-img {
  transform: scale(1.1);
}
.store-item-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.75rem;
  background: var(--mainYellow);
  border-top-left-radius: 1rem;
  transition: all 1s ease-in-out;
  transform: translate(100%, 100%);
  color: var(--mainBlue);
}
.img-container:hover .store-item-icon {
  transform: translate(0, 0);
}
.store-item-icon:hover {
  color: var(--mainWhite);
}
.store-item-value {
  color: --mainYellow;
}
/*end of  store items */
.search-box {
  background: var(--mainPink);
  color: var(--mainBlack);
}

/* ligthbox */

.lightbox-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6) !important;
  display: none;
}
.show {
  display: block;
}

.lightbox-holder {
  position: relative;
}
.lightbox-item {
  min-height: 80vh;
  background: url("../img/cake-1.jpeg") center/cover fixed no-repeat;
  border-radius: 0.3rem;
}
.lightbox-close {
  color: var(--mainPink);
  font-size: 3rem;
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.lightbox-close:hover {
  color: var(--mainYellow);
}

.lightbox-control {
  position: absolute;
  font-size: 4rem;
  color: var(--mainPink);
  transition: all 1s linear;
  cursor: pointer;
}
.lightbox-control:hover {
  color: var(--mainYellow);
}
.btnLeft {
  top: 50%;
  left: 0;
  transform: translateX(-60%);
}
.btnRight {
  top: 50%;
  right: 0;
  transform: translateX(60%);
}

/* fOOTER */
section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.footer-title{
  width: 90%;
  text-align: center;
  margin: 0;

}
#footer {
  background: var(--mainBlack);
}
#footer h5{
padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color:#ffffff;
}
  .footer-bottom::after {
    display: block;
      content: '';
     width: 60%;
     height: 0.15rem;
     background: var(--mainBlue);
     margin: auto;
   }
   
   .footer-bottom{
   position: relative;  
   }

   @media screen and (max-width: 550px) {

    .footer-bottom::after {
      display: block;
        content: '';
       width: 100%;
       height: 0.4rem;
       background: var(--mainBlue);
       margin: auto;
     }

   }


.social li i{
  font-size:2rem;
  color: var(--mainBlue);
  transition: all 1s ease;
}
.social li i:hover{
  color:var(--mainTransition);
  transform: translateY(-6px);
  text-shadow: 2px 2px 3px var(--mainGrey);
}



  